<h1>Listing response_codes</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Invitation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @response_codes.each do |response_code| %>
  <tr>
    <td><%= response_code.code %></td>
    <td><%= response_code.invitation %></td>
    <td><%= link_to 'Show', response_code %></td>
    <td><%= link_to 'Edit', edit_response_code_path(response_code) %></td>
    <td><%= link_to 'Destroy', response_code, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Response code', new_response_code_path %>
